:root {
    --clr-white: #fff;
    --crl-light-gray: hsl(211, 45%, 89%);
    --clr-gray: hsl(219, 15%, 55%);
    --clr-dark-navy: hsl(217, 44%, 22%);
    --blue-shade: hsl(216, 100%, 61%);
    --blue: hsl(216, 95%, 58%);

    --ff-primary: "Outfit", sans-serif;
    --ff-body: var(--ff-primary);

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-400: .9375rem;
    --fs-600: 1.375rem;

    --fs-body: var(--fs-400);
    --fs-heading: var(--fs-600);

    --fw-body: var(--fw-regular);
    --fw-heading: var(--fw-bold);

    --size-300:.625rem;
    --size-500: 1rem;
    --size-800: 1.5rem;
    --size-900: 1.6875rem;
    --size-1000:2.5rem;
}


/*Reset*/
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;

}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Images reset*/
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/*Components*/
body {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    background-color: var(--crl-light-gray);
}

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    border-radius: var(--size-300);
    background-color: var(--clr-white);

}

.qr-image {
    padding-inline: var(--size-500);
    padding-top: var(--size-500);
    padding-bottom: var(--size-800);

}
.qr-image-description{
    padding-inline: var(--size-500);
    padding-bottom: var(--size-800);
}
.qr-image-description__child{
    padding-bottom: var(--size-500);
    padding-inline: var(--size-500);
}
.qr-image img {
    border-radius: var(--size-300);
}

/*Utility classes*/

.fw-bold {
    font-weight: var(--fw-bold);
}

.fs-heading {
    font-size: var(--fs-heading);
}
.font-color-gray{
    color: var(--clr-gray);
}
.text-align-center {
    text-align: center;
}

